:root {
  background-color: #242e49;
}

.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: wheat;
}

.search {
  margin: 20px 0;
}

.search input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  margin-right: 10px;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.weather {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: inline-block;
  background-color: #7c61b6;
  color: rgb(189, 195, 196);
  box-shadow: 0 0 20px rgba(185, 158, 77, 0.3);
}

.weather h2 {
  margin-bottom: 10px;
}

.weather img {
  margin-top: 10px;
}
